  <%- include('partials/header'); -%>
  <title>Inventory | VIT Pharmacy</title>

</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/home">VIT Pharmacy</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span>
      <strong>Login ID</strong>: <%= user.id %>
    </span>
    <span>
      <strong>Username</strong>: <%= user.username %>
    </span>
    <span>
      <strong>Role</strong>: <%= user.role %>
    </span>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/logout">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/home">
                <span data-feather="bar-chart-2"></span>
                Dashboard 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/manageUsers">
                <span data-feather="users"></span>
                Manage Users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/createBill">
                <span data-feather="shopping-cart"></span>
                Generate bill
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patients">
                <span data-feather="users"></span>
                Patient
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/doctors">
                <span data-feather="users"></span>
                Doctors
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/inventory">
                <span data-feather="file"></span>
                Inventory<span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        <h2>Medicine List</h2>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Medicine Name</th>
                <th>MRP</th>
                <th>Primary Drug</th>
                <th>Company Name</th>
              </tr>
            </thead>
            <tbody>
              <% rows.forEach(function(stock){ %>
                <tr>
                  <td><%= stock.med_name %></td>
                  <td>&#x20B9;<%= stock.mrp %></td>
                  <td><%= stock.primary_drug %></td>
                  <td><%= stock.name %></td>
                  
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
  <%- include('partials/footer'); -%>